{% extends 'base.html' %}


{% block page_content %}
{% if messages %}
{% for message in messages %}
<div class="row mt-3">
    <div class="col">
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong>{{message.tags.capitalize}}!</strong> {{ message|safe }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
<div class="row ">
    <div class="col">
        {% comment %} Tambahkan role user disini siapa yang berhak menambah jadwal (Tenaga Pengajar) {% endcomment %}
        <article>
            <a href="{% url 'tenagapengajar:jadwal_create' %}" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                </span>
                <span class="text">Tambah Jadwal</span>
            </a>
        </article>

    </div>
</div>
{% for hari, jadwals in jadwal_list.jadwal_list.items %}
<div class="row mt-3">
    <div class="col">
        <div class="card shadow mb-4">
            <a href="#collapseJadwal{{hari}}" class="d-block card-header py-3" data-toggle="collapse" role="button"
                aria-expanded="true" aria-controls="collapseJadwal{{hari}}">
                <h6 class="m-0 font-weight-bold text-primary">{{hari.upper}}</h6>
            </a>
            <div class="collapse show" id="collapseJadwal{{hari}}">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="card-body">
                                <table class="table table-responsive" id='tableJadwal{{hari.capitalize}}' width="100%"
                                    cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th scope="col">Kelas Peserta</th>
                                            <th scope="col">Jam ke-</th>
                                            <th scope="col">Guru</th>
                                            <th scope="col">Mapel</th>
                                            <th scope="col">Ruangan</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for jadwal in jadwals %}
                                        <tr>
                                            <td>{{jadwal.detail_pelajaran.kelas_peserta}}</td>
                                            <td>{{jadwal.detail_waktu.waktu.nama_waktu}}</td>
                                            <td>{{jadwal.guru.nama_lengkap}}</td>
                                            <td>{{jadwal.detail_pelajaran.mapel.mapel}}</td>
                                            <td>{{jadwal.ruangan.nama_ruangan}}</td>
                                            <td>{{jadwal.status_validasi}}</td>
                                            <td>
                                                <div class="d-flex justify-content-end">
                                                    <a href="{% url 'tenagapengajar:jadwal_update' jadwal.id %}"
                                                        class="btn btn-warning btn-icon-split btn-sm">
                                                        <span class="icon text-white-50">
                                                            <i class="fas fa-exclamation-triangle"></i>
                                                        </span>
                                                        <span class="text">Edit</span>
                                                    </a>
                                                    <a href="{% url 'tenagapengajar:jadwal_delete' jadwal.id %}"
                                                        class="btn btn-danger btn-icon-split btn-sm">
                                                        <span class="icon text-white-50">
                                                            <i class="fas fa-trash"></i>
                                                        </span>
                                                        <span class="text">Hapus</span>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock page_content %}