{% extends 'base.html' %}


{% block page_content %}
<h1 class="h3 mb-4 text-gray-800">{{subtitle_page}}</h1>
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Jumlah Crash</h4>
</div>
{% for k,v in error_list.items %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{k|title}}</h6>
    </div>
    <div class="card-body">

        {% for waktu, guru in v.items %}
        <div class="alert alert-primary" role="alert">{{waktu}}</div>

        <ul class="list-group list-group-flush">
            {% for nama_guru, kelas_crash in guru.items %}
            <li class="list-group-item">{{nama_guru}} | {{kelas_crash}}</li>
            {% endfor %}
        </ul>
        {% endfor %}

    </div>
</div>
{% endfor %}

{% endblock page_content %}