{% load static %}
{% comment %} <script type="text/javascript" src="{% static 'vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/popper/popper.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/bootstrap/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script> {% endcomment %}

<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
{% comment %} <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script> {% endcomment %}

<!-- Data table properties -->
<script type="text/javascript" src="{% static 'vendor/datatables/js/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/datatables/js/rowReorder.bootstrap4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/datatables/js/responsive.bootstrap4.min.js' %}"></script>

<!-- jQuery Custom Scroller CDN -->
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js">
</script>

{% comment %} OUR JS {% endcomment %}
<script src="{% static 'js/tables.js' %}"></script>